{%  extends 'base.html' %}



{% block content %}


<!--object_list is modelname_list-->
{% for object in  object_list %}

<table class="table"><tr><td>
<!--<a href='/products/{{ object.pk }}/'>{{ object.title }}</a>-->
<a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
</td></tr>
        {% endfor %}
</table>

<form method="POST" action="">{% csrf_token %}

    {{ formset.management_form }}
    {% for form in formset %}
    {{ form.instance.products.title }}
    {{ form.instance.title }}
    {{ form.as_p }}
    {% endfor %}
    <input type="submit" value="Update" class="btn" />

</form>


{% endblock %}
